{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "proseWrap": "preserve",
    "arrowParens": "always",
    "tabWidth": 2,
    "useTabs": false,
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "embeddedLanguageFormatting": "auto"
}